params {
    // Run name used for labeling some outputs
        runName = 'p22162_Lara'         
    // Where FASTQs are stored
        fastq_dir = '/yerkes-cifs/runs/2022_transfers/p22162_Lara/p22162_Lara-exome-221212A/'  
    // Where you want the results saved
        outdir = '/yerkes-cifs/runs/Analysis/2022_Analyses/p22162_Lara/exome/p22162_Lara_exome_Processing/merged_seq_runs'  //'s3://cellranger-nextflow/test'  
    // Samplesheet
        samplesheet = 'sample_pairs_matched_tumorIDs.csv'
    // # of cores per sample
        per_sample_cores = 1
    // max # of cores in use at once, also dictates how many samples can be processed in parallel (max_cores / alignment_cores = concurent_forks)
        max_cores = 30
    // SMaSH
        run_SMASH = false
    // If you want an email when the pipeline finishes
        email = "dgratz@emory.edu"
    // Cutadapt settings
        r1_adapter = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
        r2_adapter = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
    // BWA settings 
        BWA_version = '/yerkes-cifs/runs/tools/bwa-0.7.17/bwa' 
        reference = '/yerkes-cifs/runs/Genome_references/homo_sapiens/GRCh38/ensembl_107/Homo_sapiens.GRCh38.dna.primary_assembly.fa' 

    // Don't touch this :)
        help = false  
        cleanup = true  
        conda.enabled = true
}


